@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210, 100%, 2%;
    --lighter-background: 210, 25%, 7%;
    --foreground: 0, 7%, 94%;
    --card: 210, 25%, 7%;
    --card-foreground: 0, 7%, 94%;
    --popover: 210, 25%, 7%;
    --popover-foreground: 0, 0%, 100%;
    --primary: 48, 100%, 50%;
    --primary-foreground: 210, 100%, 2%;
    --primary-hover: 48, 100%, 40%;
    --primary-hover-foreground: 0, 0%, 100%;
    --secondary: 240, 74%, 70%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --secondary-hover: 240, 83%, 60%;
    --secondary-hover-foreground: 0, 0%, 100%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 351, 100%, 55%; 
    --destructive-foreground: 210, 100%, 2%;
    --destructive-hover: 351, 100%, 32%;
    --destructive-hover-foreground: 0, 7%, 94%;
    --border: 210, 25%, 20%;
    --input: 0, 7%, 94%;
    --ring: 48, 100%, 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --chart-6: 211, 100%, 70%;
    --chart-7: 240, 26%, 68%;
    --chart-8: 212, 60%, 95%;
    --chart-9: 307, 21%, 49%;
    --chart-10: 75, 86%, 83%;
    --chart-11: 43, 100%, 52%;
    --chart-12: 51, 58%, 82%;
    --chart-13: 226, 71%, 83%;
    --chart-14: 53, 98%, 65%;
    --chart-15: 0, 0%, 98%;
    --radius: 0.5em;

/* 
    --lighter-background-color: hsl(210, 25%, 7%);
    --text-color: 0, 7%, 94%;
    --background-color: hsl(210, 100%, 2%);
    --secondary-button-color: hsl(240, 74%, 70%);
    --secondary-button-text-color: hsl(210, 100%, 2%);
    --secondary-button-hover-color: hsl(240, 83%, 60%);
    --secondary-button-hover-text-color: hsl(0, 0%, 100%); */


    /* Color scheme for website
    --lighter-background-color: #0d1117;
    --text-color: #f1efef;
    --background-color: #010409;
    --secondary-button-color:#8B80F9;
    --secondary-button-text-color:var(--background-color);
    --secondary-button-hover-color:#5E50F7;
    --secondary-button-hover-text-color:white;
    --primary-button-color:#FFC31F;
    --primary-button-text-color:black;
    --primary-button-hover-color:#CC9600;
    --primary-button-hover-text-color:white; 
    --input-background-color: var(--text-color);
    --input-text-color:var(--background-color);
    --input-text-border-hover-color:var(--primary-button-color);
    --movie-background-color:var(--lighter-background-color);
    --movie-text-color:var(--text-color); */
  }
}

@layer base {
  * {
    @apply border-border outline-ring;
  }
  body {
    @apply bg-background text-foreground;
  }
}
